section {
    .container {
        .sect-theare {
            padding: 50px 20px;

            .cards {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                gap: 30px;

                .card {
                    width: 15%; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 20px ;
                    
                    img {
                        width: 100%;
                        height: auto;
                        object-fit: contain; 
                        opacity: 0.6;

                        &:hover {
                            filter: grayscale(0%);
                            opacity: 1;
                        }
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}


@media (max-width: 1024px) {
    section .container .sect-theare .cards .card {
        width: 20%;
    }
}

@media (max-width: 768px) {
    section .container .sect-theare .cards {
        justify-content: center; 
        gap: 30px;

        .card {
            width: 28%; 
        }
    }
}

@media (max-width: 480px) {
    section .container .sect-theare .cards {
        gap: 20px;

        .card {
            width: 42%; 
        }
    }
}